<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cloud Computing CR</title>
  </head>

  <body>
    <h1>Cloud Computing Chat Room</h1>
    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="message" name="quote" />
      <button type="submit">Submit</button>
    </form>
    <h2> Messages </h2>

<ul class="quotes" style="list-style:none; padding-left:0;" >
  <% for(var i = 0; i < quotes.length; i++) {%>
   <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span style="color:red;font-weight:bold"><%= quotes[i].name %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
</ul>

  </body>
</html>

